---
---

$color_1: #fff;
$color_2: #414141;
$font-family_1: sans-serif;
$background-color_1: #f1f1f1;

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-family_1;
	background-color: $background-color_1;
}
.container {
	width: 1000px;
	position: relative;
	display: flex;
	justify-content: space-between;
	.card {
		position: relative;
		border-radius: 10px;
		.icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #f00;
			transition: 0.7s;
			z-index: 1;
			.fa {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 80px;
				transition: 0.7s;
				color: $color_1;
			}
		}
		&:nth-child(1) {
			.icon {
				background: #e07768;
			}
		}
		&:nth-child(2) {
			.icon {
				background: #6eadd4;
			}
		}
		&:nth-child(3) {
			.icon {
				background: #4aada9;
			}
		}
		.face {
			width: 300px;
			height: 200px;
			transition: 0.5s;
		}
		.face.face1 {
			position: relative;
			background: #333;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			transform: translateY(100px);
			.content {
				opacity: 1;
				transition: 0.5s;
				i {
					max-width: 100px;
				}
			}
		}
		&:hover {
			.face.face1 {
				background: #ff0057;
				transform: translateY(0px);
				.content {
					opacity: 1;
				}
			}
			.face.face2 {
				transform: translateY(0);
			}
		}
		.face.face2 {
			position: relative;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
			box-sizing: border-box;
			box-shadow: 0 20px 50px rgba(0,0,0,0.8);
			transform: translateY(-100px);
			.content {
				p {
					margin: 0;
					padding: 0;
					text-align: center;
					color: $color_2;
				}
				h3 {
					margin: 0 0 10px 0;
					padding: 0;
					color: $color_1;
					font-size: 24px;
					text-align: center;
					color: $color_2;
				}
			}
		}
	}
	a {
		text-decoration: none;
		color: $color_2;
	}
}
i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	transition: 0.7s;
	color: $color_1;
}
