/* body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    background-color: #f1f1f1; 
} */

.socials-container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.socials-container .card {
    position: relative;
    border-radius: 10px;
}

.socials-container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.socials-container .card:nth-child(1) .icon {
    background: #e07768;
}

.socials-container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.socials-container .card:nth-child(3) .icon {
    background: #181717;
}

.socials-container .card:nth-child(4) .icon {
    background: #0A66C2;
}

.socials-container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.socials-container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.socials-container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.socials-container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.socials-container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.socials-container .card:hover .face.face1 .content {
    opacity: 1;
}

.socials-container .card .face.face1 .content i{
    max-width: 100px;
}

.socials-container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.socials-container .card:hover .face.face2{
    transform: translateY(0);
}

.socials-container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.socials-container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.socials-container a {
    text-decoration: none;
    color: #414141;
}